<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Newspaper Search</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="content">
        <h1>Newspaper Search</h1>

        <div class="searchbox pure-u-3-4">
        <form method="GET" action=".">
            <input name="search" value="{{ search }}" /><input type="submit" value="Go" />
        </form>
        </div>

        {% if not results %}
        {% if search %}
        <div class="error pure-u-1">
            <p>
                No results found.
            </p>
        </div>
        {% else %}
        <div class="info pure-u-1">
            <p>
                Please enter some search terms.
            </p>
        </div>
        {% endif %}
        {% else %}
        <div class="results pure-u-1">
        {% for item in results %}
            <div class="result">
                <div class="link">
                    <!-- {{ item["id"] }} --><a href="{{ item["url"] }}">{{ item["title"]|default_value("(Page has no title)") }}</a> ({% if item["count"] > 1 %}and {{ item["count"] - 1 }} other page{% if item["count"] > 2%}s{% endif %}; {% endif %}<a href="http://{{ item["site"] }}">{{ item["site"] }}</a>)
                </div>
                <div class="excerpt">
                    <p>
                        {{ item["excerpt"]|safe }}
                    </p>
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="nextpage">
        <form method="GET" action=".">
          <input type="hidden" name="search" value="{{ search }}" />
	  <input type="hidden" name="page" value="{{ next_page }}" />
	  <input type="submit" value="Next" /> 
        </form>
        </div>
        {% endif %}
    </div>
</body>
</html>
